<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @invoice.data.strftime("%y/%m/%d") %>
</p>

<p>
  <strong>Company:</strong>
  <%= @invoice.company %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @invoice.tax %>
</p>

<p>
  <strong>Salesperson:</strong>
  <%= @invoice.employee.name %>
</p>
<br>

<h3>Purchases</h3>
<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Categoty</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% @purchases.each do |purchase| %>
          <tr>
            <td><h5><%= purchase.name %></h5></td>
            <td><h5><%= purchase.category %></h5></td>
            <td><h5><%= purchase.quantity %></h5></td>
          </tr>
        <% end %>
      </tbody>
    </table>  
  </div>
</div>
<%= link_to 'Edit', edit_invoice_path(@invoice), class: 'btn btn-default' %> |
<%= link_to 'Back', invoices_path, class: 'btn btn-default' %>
